<div class="ml-96 flex-1 py-24 px-12 pr-32">
  <div class="w-full flex flex-wrap" id="projects-container">
    {{!-- {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}}
    {{> singleProject}} --}}
  </div>
</div>