<div class='py-24 flex'>
  <div class="w-full p-8 font-sans">
    <div class="rounded bg-gray-300 w-64 p-2">
      <div class="flex justify-between py-1">
        <h3 class="text-sm">Project name</h3>
      </div>
      <div class="droppable dropzone text-sm mt-2" id="steps-undone">

        {{!-- <div id="draggable" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)"
          class="draggable bg-white hover-trigger p-2 rounded mt-1 border-b border-grey cursor-pointer hover:bg-grey-lighter flex justify-between">
          <p>Do 100 push ups</p>
          <div id='icon' class='hover-target justify-between'>
            <img class='mr-2 transition duration-500 ease-in-out hover:bg-gray-100 transform  hover:scale-150'
              src="https://img.icons8.com/dotty/16/000000/edit.png" />
            <img class='transition duration-500 ease-in-out hover:bg-gray-100 transform  hover:scale-150'
              src="https://img.icons8.com/dotty/16/000000/trash.png" />
          </div>
        </div> --}}

      </div>

      <div class='my-2 mt-4'>
        <p class="mt-4 text-gray-400 w-max ml-4 hover:text-gray-800 cursor-pointer" id="add-step-btn">+ Add a step...
        </p>
      </div>
    </div>
  </div>


  <div class="w-full p-8 font-sans">
    <div class="rounded bg-gray-300 w-64 p-2">
      <div class="flex justify-between py-1">
        <h3 class="text-sm">Doing</h3>
      </div>
      <div class="droppable dropzone text-sm my-2 min-h-full" id="steps-doing">



      </div>
    </div>
  </div>

  <div class="w-full p-8 font-sans">
    <div class="rounded bg-gray-300 w-64 p-2">
      <div class="flex justify-between py-1">
        <h3 class="text-sm">Done</h3>
      </div>
      <div class="droppable dropzone text-sm my-2 min-h-full" id="steps-done">

      </div>
    </div>
  </div>

</div>