<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>

<body>
  {{> partials/header}}
  {{> partials/homepage/index}}
</body>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAG3JcaJWV-Nd-s1SRVYgAP_y49eoHXeaI",
    authDomain: "todo-list-c32f2.firebaseapp.com",
    projectId: "todo-list-c32f2",
    storageBucket: "todo-list-c32f2.appspot.com",
    messagingSenderId: "129154481425",
    appId: "1:129154481425:web:27013ad934f9035a6c20b0",
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

</html>