<aside class="fixed h-screen w-96 pl-32 pt-24">
  <div class="sidebar_bg bg-gray-200 shadow-sm">
    <ul>
      <li class='flex justify-between mb-5 text-xl courgetteFont text-gray-500 cursor-pointer font-semibold'>
        <h3>All goals</h3>
        <span id='goals-all' />
      </li>
      <li class='flex justify-between mb-5 text-xl courgetteFont text-gray-500 cursor-pointer font-semibold'>
        <h3>Year goals</h3>
        <span id='goals-year' />
      </li>
      <li class='flex justify-between mb-5 text-xl courgetteFont text-gray-500 cursor-pointer font-semibold'>
        <h3>Week goals</h3>
        <span id='goals-week' />
      </li>
      <li class='flex justify-between mb-5 text-xl courgetteFont text-gray-500 cursor-pointer font-semibold'>
        <h3>Today goals</h3>
        <span id='goals-today' />
      </li>
    </ul>

    <div id="ct" class='mt-12'>
      <div class="corner " id="left_top"></div>
      <div class="corner" id="left_bottom"></div>
      <div class="corner" id="right_top"></div>
      <div class="corner" id="right_bottom"></div>
      <span>Winston Churchill</span>
      <blockquote>
        <p><i>&ldquo;Success consists of going from failure to failure without loss of enthusiasm.&rdquo; </i></p>
      </blockquote>
    </div>

  </div>
</aside>